
* {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
ul,ol {
	list-style: none;
}
img,input {
	outline-style: none;
	vertical-align: middle;
	border: 0 none;
}
html,body {
	width: 100%;
	margin: 0 auto;
}
/* 清除浮动自己写的 */
.clearfix:before,
.clearfix:after {
	content: "";
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
	display: block;
}
.clearfix {
	*zoom:1;
}
/* 超出部分以省略号显示 */
.text-cut {
	overflow: hidden;			/*超出隐藏*/
	white-space: nowrap;		/*强制文字不换行*/
	text-overflow: ellipsis;	/*超出文字以省略号显示*/
	/* 在容器的最末尾处换行 */
	/*word-break: break-all;*/
	/* 文本内容会在回车（空格处）立即换行 */
	/* word-break: keep-all; */
}
/* 浮动 */
.fl {
	float: left;
}
.fr {
	float: right;
}


/* 清除浮动的公共类摘抄的 */
.clearfix:before,
.clearfix:after { 
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* 为了兼容IE6,7 */
.clearfix {
	*zoom:1;
}

/*===========loading===========*/
.loadingboxer{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;}
.loadingmask{position:absolute;top:0;left:0;width:100%;height:100%;background:url(./loading.gif) center center no-repeat;z-index:9998;}
.loadingbg{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;filter:alpha(opacity=45);opacity:0.45;z-index:9997;}
/*===========loading===========*/

