* {
	margin: 0;
	padding: 0;
}
ol,ul,dl {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}
img,input {
	outline-style: none;
	vertical-align: middle;
	border: 0 none;
}
html,body {
	width: 100%;
	margin: 0 auto;
}
.clearfix:before,
.clearfix:after { 
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* 为了兼容IE6,7 */
.clearfix {
	*zoom:1;
}
.slh {/*单行超出以省略号显示*/

	overflow: hidden;			/*超出隐藏*/
	white-space: nowrap;		/*强制文字不换行*/
	text-overflow: ellipsis;	/*超出文字以省略号显示*/

	/* 在容器的最末尾处换行 */
	/*word-break: break-all;*/

	/* 文本内容会在回车（空格处）立即换行 */
	/* word-break: keep-all; */
}
.slh-one {/*多行超出以省略号显示*/
	/*设置高度和行高*/
	height: ;
	line-height: ;
	/*超出隐藏*/
	overflow: hidden;
	/* 在容器的最末尾处换行 */
	word-break: break-all;
	/* 将超出的文字以省略号方式显示 */
	text-overflow: ellipsis;
	/* 用来控制显示行数 */
	-webkit-line-clamp: 2;
	/* 文字显示方式,默认水平 */
	-webkit-box-orient: vertical;
	/* 将盒子转为弹性盒子 */
	display: -webkit-box;
}