<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		ul, li {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		ul {
			margin-left: 40px;
		}
		li {
			padding: 10px 0;
		}
		.label {
			color: #8B658B;
			font-size: 14px;
			font-weight: 700;
		}
		.value {
			color: #EE7621;
			font-weight: 700;
		}
		.title {
			margin-left: 20px;
			font-size: 16px;
			font-weight: 700;
			color: #8B8B7A;
		}
		.font {
			font-weight: 700;
			color: #EE7621;
		}
		.labelWidth {
			width: 100px;
			opacity: 0;
		}
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<el-collapse>
			<el-collapse-item title="一致性 Consistency" :name="index" v-for="(item, index) in list" :key="index">
				<template slot="title">
					<span class="title">{{ item.title }}</span>
				</template>
				<ul>
					<li v-for="(edit, ind) in item.list" :key="ind">
						<p v-if="edit.label">
							<span class="label" :class="edit.label && edit.label.toString() === 'true' ? 'labelWidth' : ''">{{ edit.label }}</span>:&nbsp;&nbsp;<span class="value">{{ edit.value }}</span>
						</p>
						<p v-else class="font">
							{{ edit }}
						</p>
					</li>
				</ul>
			</el-collapse-item>
		</el-collapse>
	</div>
	<script src="./js/vue.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		window.resizeTo(100, 100)
		const vm = new Vue({
			el: '#app',
			data: {
				list: [
					{
						title: '面向对象编程',
						list: [
							'js操作标签与操作数据类型;js把标签/数据,看成一个个对象,用方法(函数)操作他们,操作他们需要给他们起个名字,这个名字就是变量;',
							'用方法把他们组合起来这种思想就是面向对象编程思想;',
							'当开始写的时候,你需要把对象划分出来,划分对象;',
							'看到这些标签/数据就是一个个对象,给他们添加方法就是面向对象编程;',
							'方法中的每一步就是面向过程;',
							'面向对象就是找对象做事，就是通过构造函数创建对象，并调用方法；'
						]
					},
					{
						title: 'js代码是如何写出来的',
						list: [
							'd就是你要干啥,c就是具体化目标,通过a来控制b',
							'a .(点) / =(赋值) / if(判断,逻辑运算符) / ()[]{}(三个括号) / 运算符 +(拼接) - * /',
							'b 属性 / 方法 ',
							'c 数组/ 函数(方法) / 对象',
							'd 获取元素 创建元素 删除元素 修改属性方法 查看属性方法'
						]
					},
					{
						title: '字体(font-family)',
						list: [
							'microsoft yahei',
							'sans-serif'
						]
					},
					{
						title: '块级作用域',
						list: [
							'点：点代表对象结构中具有作用域链，访问一级一级的作用域下的属性或方法，需要用点来打开作用域',
							'块级作用域就是大括号内的区域，大括号外访问不到大括号内的变量；',
						]
					},
					{
						title: '关键属性',
						list: [
							{ label: 'a:link', value: '英文link就是链接的意思，代表当一段文本为链接时的属性' },
							{ label: 'a:visited', value: '英文visited就是访问过的意思，代表这段文本被点击之后的属性' },
							{ label: 'a:hover', value: '英文hover就是悬停的意思，代表鼠标指针放在这个链接上时的属性' },
							{ label: 'a:active', value: '英文active就是有效的、快速的意思，代表鼠标按下时一瞬间的属性' },
							{ label: 'cursor:pointer', value: '鼠标小手状态' },
							{ label: 'cursor:default', value: '默认值  箭头' },
							{ label: 'cursor:text', value: '文本' },
							{ label: 'cursor:move', value: '移动' },
							{ label: 'cursor:url(图片地址)', value: '替换的样式' },
							{ label: 'border-collapse:collapse', value: '细线表格' },
							{ label: 'duration', value: '时间相关（动画、视频、axios）' },
							{ label: 'opacity', value: '透明属性 元素内所有元素透明' },
							{ label: 'required', value: '规定 input 必需在提交之前填写输入字段' },
							{ label: 'maxlength = "200"', value: '最大输入数 直接寫在標籤里 多行文本輸入框用 (內置屬性)' },
							{ label: 'disabled', value: '设置input禁用  (內置屬性)' },
							{ label: 'checked', value: '单选框/复选框设置默认选中(內置屬性)' },
							{ label: 'resize: none', value: '禁止拉伸  多行文本輸入框用' },
							{ label: 'selected', value: '下拉框的默认选中项 selected  (內置屬性)' },
							{ label: 'multiple', value: '表单可选择多个值' },
							{ label: 'required', value: '规定 input 必需在提交之前填写输入字段' },
							{ label: 'required', value: '规定 input 必需在提交之前填写输入字段' },
							{ label: 'required', value: '规定 input 必需在提交之前填写输入字段' },
						]
					},
					{
						title: '关键字',
						list: [
							{ label: 'NaN', value: '不是一个数字' },
							{ label: 'isNaN(变量)', value: '判断变量是不是一个数字  true证明NaN是对的,false证明NaN是错的' },
							{ label: 'null', value: '发生隐式类型转换时,会变成布尔类型的值' },
							{ label: 'break', value: '会立即结束break所在的循环的循环体代码' },
							{ label: 'continue', value: '跳过本次循环进入下个循环' },
							{ label: 'length', value: '共有多少个索引(数组,函数,对象)' },
							{ label: 'throw', value: '抛出，和return功能相似' },
							{ label: 'instanceof', value: '判断zs 这个对象是不是 People构造函数创建的 console.log(zs instanceof People)' },
							{ label: 'typeof', value: '判断变量的数据类型 Number Boolean 等; typeof data' },
							{ label: 'property', value: '属性' },
							{ label: 'value', value: '值' },
							{ label: 'index', value: '索引' },
							{ label: 'target', value: 'a连接中表示跳转方式 _self(当前页面打开)，_blank(新窗口打开)' },
							{ label: 'delete', value: '删除数组中的项' }
						]
					},
					{
						title: 'arguments',
						list: [
							'arguments对象中是用来保存用户传递实参的信息。【实参的个数，实参的具体值】;',
							'如果函数中无法确定实参的个数，考虑使用arguments;',
							'如果能够确定实参个数，推荐使用length。'
						]
					},
					{
						title: 'return',
						list: [
							'在函数内部的变量，如果希望在函数外部使用，是无法直接获取的',
							'如果希望在函数外部使用函数内部中的值，那么就可以给函数设置返回值',
							'代码执行完return后，后面的代码不再执行。(本作用域有效)',
							'任何一种数据类型都可以作为返回值【数组和函数既可以作为参数又可以作为返回值】',
							'如果一个函数没有返回值，那么默认的返回值是 undefined',
							'在哪里都能使'
						]
					},
					{
						title: 'this',
						list: [
							'普通函数中的this     指向Window',
							'在方法中的this	   指向当前方法所属的对象',
							'在构造函数的this	   指向创建的对象',
							'构造函数谁调用函数，this就指向谁'
						]
					},
					{
						title: 'new',
						list: [
							'在内存中开辟一块空间,创建一个空对象',
							'this指向创建的对象',
							'执行函数',
							'返回当前对象',
							'构造函数有返回值  在构造函数中，默认的返回值就是当前创建的对象'
						]
					},
					{
						title: '所有对象',
						list: [
							'window',
							'Object',
							'document',
							'Array',
							'Number',
							'String',
							'Function',
							'Date',
							'RegExp',
							'XMLHttpRequest'
						]
					},
					{
						title: 'Object',
						list: [
							{ label: 'Obejct.keys()', value: '获取对象所有的键，返回一个数组' },
							{ label: 'Obejct.assign()', value: '方法用于将所有可枚举属性的值从一个或多个源对象复制到目标对象。它将返回目标对象' },
							{ label: 'Obejct.hasOwnProperty(prop)', value: '方法会返回一个布尔值，指示对象自身属性中是否具有指定的属性（也就是，是否有指定的键）' },
							{ label: 'Object.defineProperty(obj, prop, descriptor)', value: '方法会直接在一个对象上定义一个新属性，或者修改一个对象的现有属性， 并返回这个对象' },
							{ label: 'Object.getOwnPropertyDescriptor(obj, prop)', value: '方法返回指定对象上一个自有属性对应的属性描述符。（自有属性指的是直接赋予该对象的属性，不需要从原型链上进行查找的属性）' }
						]
					},
					{
						title: 'descriptor: Object.defineProperty(obj, prop, descriptor)',
						list: [
							{ label: 'configurable', value: '当且仅当该属性的 configurable 为 true 时，该属性描述符才能够被改变，同时该属性也能从对应的对象上被删除。默认为 false。' },
							{ label: 'enumerable', value: '当且仅当该属性的enumerable为true时，该属性才能够出现在对象的枚举属性中。默认为 false。数据描述符同时具有以下可选键值' },
							{ label: 'value', value: '该属性对应的值可以是任何有效的 JavaScript 值（数值，对象，函数等）。默认为 undefined' },
							{ label: 'writable', value: '当且仅当该属性的writable为true时，value才能被赋值运算符改变。默认为 false。存取描述符同时具有以下可选键值' },
							{ label: 'get', value: '一个给属性提供 getter 的方法，如果没有 getter 则为 undefined。当访问该属性时，该方法会被执行，方法执行时没有参数传入，但是会传入this对象（由于继承关系，这里的this并不一定是定义该属性的对象）。默认为 undefined' },
							{ label: 'set', value: '一个给属性提供 setter 的方法，如果没有 setter 则为 undefined。当属性值修改时，触发执行该方法。该方法将接受唯一参数，即该属性新的参数值。默认为 undefined' },
							{ label: 'get和set是一组', value: 'value和writable是一组，一个属性只能定义一组，不能两组同时定义' }
						]
					},
					{
						title: 'Object.getOwnPropertyDescriptor(obj, prop)',
						list: [
							{ label: 'configurable', value: '当且仅当指定对象的属性描述可以被改变或者属性可被删除时，为true。' },
							{ label: 'enumerable', value: '当且仅当指定对象的属性可以被枚举出时，为 true' },
							{ label: 'value', value: '该属性的值(仅针对数据属性描述符有效)' },
							{ label: 'writable', value: '当且仅当属性的值可以被改变时为true。(仅针对数据属性描述有效)' },
							{ label: 'get', value: '获取该属性的访问器函数（getter）。如果没有访问器， 该值为undefined。(仅针对包含访问器或设置器的属性描述有效)' },
							{ label: 'set', value: '获取该属性的设置器函数（setter）。 如果没有设置器， 该值为undefined。(仅针对包含访问器或设置器的属性描述有效)' }
						]
					},
					{
						title: '2D',
						list: [
							{ label: 'transition', value: 'all  1s  linear 2s' },
							{ label: 'transition', value: 'transparent（透明色）' },
							{ label: 'transition-property', value: 'all(默认代表所有的属性都有动画效果) | 单独设置具体的属性名称' },
							{ label: 'transition-duration', value: '执行多长时间' },
							{ label: 'transition-delay', value: '延迟时间,多长时间后执行' },
							{ label: 'transition-timing-function', value: 'linear 执行速度' },
							{ label: '动画的速度类型', value: 'ease(加速)   linear(匀速的)  ease-in(加速)  ease-out（减速）  ease-in-out(先快后慢)' }
						]
					},
					{
						title: 'transform',
						list: [
							{ label: 'translate(length, length)', value: '位移x轴 y轴' },
							{ label: 'rotate(deg)', value: '旋转 单位deg' },
							{ label: 'transform-origin', value: '设置圆点的位置  transform-origin: 方位名称 || 值' },
							{ label: 'scale(0, 0)', value: '缩放（scale）： 改变元素大小' },
							{ label: 'skew(angle, angle)', value: '倾斜（skew）:  让元素发生倾斜（deg）' }
						]
					},
					{
						title: '3D',
						list: [
							{ label: 'transform-style', value: 'preserve-3d; 将平面图形转为立体图形' },
							{ label: 'perspective', value: '透视 页面中出现近大远小的效果' },
							{ label: 'transform-origin', value: '在3d转化中 改变轴的位置' },
							{ label: 'transform', value: 'transform的各种值' }
						]
					},
					{
						title: '动画',
						list: [
							{ label: '动画合写', value: 'animation: move 1s  infinite  2s alternate' },
							{ label: 'animation-name', value: '动画名称' },
							{ label: 'animation-duration', value: '动画时间' },
							{ label: 'animation-iteration-count', value: '动画执行次数  【infinite无限次】' },
							{ label: 'animation-delay', value: '动画延时' },
							{ label: 'animation-direction', value: '动画逆播（动画在返回的时候也有动画效果） 【alternate】' },
							{ label: 'animation-fill-mode', value: '动画在结束位置处停下【forwards】' },
							{ label: 'animation-play-state', value: 'paused(停止); 设置动画播放状态' },
							{ label: '注意', value: '在百分比写法中，百分比是相对动画执行时间' },
							{ label: '@keyframes + 自定义动画名称', value: '0%: {},20%: {},等' }
						]
					},
					{
						title: 'web布局',
						list: [
							{ label: '流式布局', value: '百分比布局' },
							{ label: '伸缩布局', value: 'flex' },
							{ label: 'rem适配（单位）', value: '要实现页面精细化适配方案' },
							{ label: '响应式布局', value: '根据设备不同（宽度），网页的布局方式存在差异' },
							{ label: '正常预览', value: '页面不能出现缩放，页面水平方向不能出现滚动条,所以在最外层加一个盒子包裹' },
							{ label: 'window.devicePixelRatio', value: '获取设备独立像素' }
						]
					},
					{
						title: '流式布局【百分比布局】',
						list: [
							{ label: '二倍图', value: 'Ul会准备一个是原来图片2倍大小的图片，解决了图片在不同设备中能够正常预览（没有图片拉伸后的模糊效果）' },
							{ label: '匹配视口', value: '<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"></meta>' },
							{ label: '浏览器内核别名', value: '-webkit- -moz- -ms- -o-' }
						]
					},
					{
						title: '伸缩布局',
						list: [
							{ label: '伸缩盒子', value: '默认有两条轴【主轴，侧轴】 主轴： 默认的显示方向是水平从左向右显示的 侧轴： 始终垂直于主轴' },
							{ label: 'display', value: 'flex;先将直接父元素设置为伸缩盒子  将标准流的盒子转化为伸缩盒子' },
							{ label: 'flex-direction (调整主轴的方向)', value: 'row(水平) column (垂直显示) row-reverse(水平翻转) column-reverse (垂直翻转)' },
							{ label: 'justify-content (设置在主轴方向的对齐方式)', value: 'flex-start; (左边开始往右排) flex-end; (右边开始往左排) center; (盒子居中排列) space-between; (空余区域被盒子等分) space-around; (平均分布在盒子两侧)' },
							{ label: 'align-items (设置元素在侧轴对齐方式,要清楚侧轴的方向)', value: 'stretch(拉伸) flex-start' },
							{ label: 'flex-wrap(换行)', value: 'nowrap(不换行) flex-start' },
							{ label: 'flex', value: '将父元素中除去具体宽度后，剩余的宽度值分为若干份  这个命令 (flex: 值;)设置在子盒子上' },
							{ label: 'order (对子元素进行排序显示效果)', value: '值；注意： 值越小，元素越靠前显示' }
						]
					},
					{
						title: 'rem适配（单位）[要实现页面精细化适配方案]',
						list: [
							{ label: 'em', value: '相对当前标签中的文字大小;' },
							{ label: 'rem', value: '相对根标签中的文字大小 （HTML标签中的文字大小），假设将一张640图片分成20份,每份32px;再把你要操作的图片除以32,就是得到的rem;' },
							{ label: '语法', value: '图片如果是二倍图可以用rem,如果不是就要在外边加盒子,给盒子设置rem,把图片放盒子里宽百分之百' }
						]
					},
					{
						title: '响应式布局：@media only screen and (width: 320px)',
						list: [
							{ label: '媒体类型', value: 'all screen(屏幕设备，PC和移动) print（打印设备）' },
							{ label: '媒体特性', value: 'width （max-width,min-width）横屏 竖屏 ' },
							{ label: '关键字', value: 'only 只；not 排除；and 并且' },
							{ label: '语法', value: '图片如果是二倍图可以用rem,如果不是就要在外边加盒子,给盒子设置rem,把图片放盒子里宽百分之百' }
						]
					},
					{
						title: 'bootstrap',
						list: [
							{ label: '介绍', value: 'Bootstrap[Bootstrap 是移动设备优先的]:用来开发响应式布局的 HTML + CSS  +JS 的框架;' },
							{ label: '设置移动端视口', value: '<meta name="viewport" content="width=device-width, initial-scale=1">' },
							{ label: '设置兼容IE最高版本', value: '<meta http-equiv="X-UA-Compatible" content="IE=edge">' },
							{ label: '兼容国产浏览器', value: '<meta name="renderer" content="webkit">' },
							{ label: '引用框架对应的css文件', value: '<link href="css/bootstrap.min.css" rel="stylesheet">' },
							{ label: '解决Ie低版本不支持H5新标签写法', value: 'script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"' },
							{ label: '标题标签', value: '通过类名的方式可以设置对应的标题标签' },
							{ label: 'H5中的新标签', value: '<mark>标记</mark>  | <small></small> 或者类名.small' },
							{ label: '对齐方式', value: '.text-left |  .text-center  |  .text-right' },
							{ label: '字母大小转化( text-transform: lowercase | uppercase | capitalize )', value: '.text-uppercase(将所有的小写字母转化为大写) .text-lowercase(将大写转为小写) .text-capitalize(单词首字母大写)' },
							{ label: '去掉列表默认样式', value: '.list-unstyled' },
							{ label: '实现列表一行显示', value: '.list-inline' },
							{ label: '实现自定义列表一行显示', value: '.dl-horizontal' },
							{ label: '表格中基本样式', value: '.table' },
							{ label: '设置带边框的表格', value: '.table-bordered' },
							{ label: '设置隔行变色表格', value: '.table-striped' },
							{ label: '设置鼠标悬停时候的样式', value: '.table-hover' },
							{ label: '鼠标悬停在行或单元格上时所设置的颜色', value: '.active' },
							{ label: '标识成功或积极的动作', value: '.success' },
							{ label: '标识普通的提示信息或动作', value: '.info' },
							{ label: '标识警告或需要用户注意', value: '.warning' },
							{ label: true, value: '.danger' },
							{ label: '实现表单控件通栏显示类名', value: '.form-control' },
							{ label: '控件一行显示', value: '.form-inline' },
							{ label: '控件水平一列显示', value: '.form-horizontal' },
							{ label: '禁止控件使用', value: 'disabled属性  和 .disabled类名' },
							{ label: '单选控件一行显示', value: '.radio-inline' },
							{ label: '复选框一行显示', value: '.checkbox-inline' },
							{ label: '给表单控件设置一个外部的容器', value: '<fieldset></fieldset>' },
							{ label: '表单控件外部容器设置标题', value: '<legend>注册信息</legend>' },
							{ label: '在超小屏幕(小于768px)下元素占几份(移动端)', value: '.col-xs-值' },
							{ label: '在小屏幕(大于等于768px)设备下元素占几份(平板)', value: '.col-sm-值' },
							{ label: '在PC端(大于等于992px)元素占几份(电脑)', value: '.col-md-值' },
							{ label: '在超大屏幕(大于等于1200px)下元素占几份', value: '.col-lg-值' },
							{ label: '栅格系统使用步骤', value: '' },
							{ label: '1. 必须准备一个父元素，该父元素的类名必须叫', value: '.container(有固定宽度) .container-fluid（将视口沾满）' },
							{ label: '2. 依据栅格盒子实现响应式布局', value: '<div class="box  container-fluid clearfix"><div class="one col-md-12  col-sm-4  col-xs-3"></div></div>' },
							{ label: '3. 注意', value: '当给元素设置了栅格参数后，该元素就浮动脱标了;通过给父元素设置 clearfix 即可清除浮动' },
							{ label: '4. 在栅格系统中实现列偏移', value: '.col-md-offset-值 .col-xs-offset-值 .col-sm-offset-值' },
							{ label: '5. 实现列排序', value: 'col-md-push-值 col-sm-pull-值' },
						]
					},
					{
						title: 'js语法基础',
						list: [
							'1. 尽管并不安全，但声明语句中忽略var关键字是合法的 JScript 语法。这时，JScript解释器给予变量全局范围的可见度。当在过程级中声明一个变量时，它不能用于全局范围；这种情况下，变量声明必须用var关键字。',
							{ label: '2. 从上面的描述看来，对待这两种定义方法要区分以下两种情况', value: '' },
							{ label: true, value: '1. 在一个过程级中（即位于function的定义范围内，无论是函数，还是类）的任何地方，包括在一个区块里（for,while,if……），定义变量时，使用var定义，则此变量只在这个过程级内起作用，反之为全局变量。' },
							{ label: true, value: '2. 在过程级外定义变量时，无论是否忽略var，都将定义一个全局变量。从这点看来，JS和其他语言有不一样的' + 
								'地方，变量的范围不以“{}”作为边界，而是以"function(){}"为边界,而且在过程内可以很轻松的定义全局' + 
								'变量。如果不注意这个问题的话，是很容易产生不可预知的错误的。' },
							{ label: '3. 对于使用var，我的建议是要养成好的使用习惯', value: 'preserve-3d; 将平面图形转为立体图形' },
							{ label: true, value: '1. 在程序的开头，统一定义全局变量；' },
							{ label: true, value: '2. 所有的变量在定义时都要加上var；' },
							{ label: true, value: '3. 尽量不要在不同的过程中使用相同的变量名。' },
							{ label: '网页中输出消息方式', value: '' },
							{ label: true, value: '1. alert("今天开始学习js基础，好无聊");' },
							{ label: true, value: '2. document.write("今天开始学习js基础，好无聊"); 在body标签中输出消息（网页中）' },
							{ label: true, value: '3. console.log("今天开始学习js基础，好无聊"); 在控制台中输出消息' },
							{ label: true, value: '4. confirm("这是一个问答式输出消息的方式,需要选择是或否,是对应的是true,否对应的是false");' },
							{ label: true, value: '5. prompt("在网页中弹出输入框,让用户输入");' },
							{ label: '命名规范', value: '' },
							{ label: true, value: '1. 不能使用关键字定义变量名' },
							{ label: true, value: '2. 推荐不要使用系统中内置的属性名作为变量名 （name）' },
							{ label: true, value: '3. 不推荐使用保留字作为变量名' },
							{ label: true, value: '4. 不推荐使用汉字定义变量名' },
							{ label: true, value: '5. 在定义变量名的时候不能出现空格' },
							{ label: true, value: '6. 在js中是区分字母大小写的(大写是一个变量,小写是一个变量' },
							{ label: '变量(重点)', value: '变量是在程序中用来保存数据的一个容器' },
							{ label: '定义变量', value: 'var age' },
							{ label: '赋值', value: 'age = 20' },
							{ label: '注意', value: '' },
							{ label: true, value: '1. 在js中是区分字母大小写的(大写是一个变量,小写是一个变量' },
							{ label: true, value: '2. 如果要输出的信息是一个变量，那么不需要加引号' },
							{ label: true, value: '3. 一个变量一次只能保存一个值，最后一次赋值结果' },
							{ label: true, value: '4. 不推荐使用汉字定义变量名' },
							{ label: true, value: '5. 可以在定义变量的时候给变量赋值  例如 ： var age = 123;' },
							{ label: true, value: '6. 可以同时定义多个变量并赋值 中间用,隔开    例如： var age=12,uname,uheight;' },
							{ label: true, value: '7. 定义变量的时候必须使用var 关键字 ;' },
							{ label: '数据类型：', value: '用来判断当前变量在内存中的具体存储位置' },
							{ label: '简单数据类型', value: '1. 数字类型（number）：2. 字符串类型（string）：3. 布尔类型(boolean)：4. undefined类型:如果一个变量没有赋值，默认值是undefined：5. null ：6. NaN  isNaN' },
							{ label: "复杂数据类型", value: '数组,函数,对象' },
							{ label: '数据类型判断', value: 'typeof 变量名' },
							{ label: '将其他数据类型转换为数字类型', value: '' },
							{ label: true, value: '1. Number(变量)' },
							{ label: true, value: '2. parseInt(变量): 只会保留整数部分' },
							{ label: true, value: '3. parseFloat(变量): 整数小数部分都保留' },
							{ label: true, value: '4. String(变量)' },
							{ label: true, value: '5. 变量.toString()' },
							{ label: true, value: '3. Boolean(变量)' },
							{ label: '隐式类型转换', value: '让变量在程序中自己通过运算后发生的类型转换' },
							{ label: true, value: '1. 通过数学运算后得到数字类型（- *  /  %(取余));数学运算可以发生隠式转换 不包括加运算;' },
							{ label: true, value: '2. 使用加号拼接字符串可以发生隠式转换' },
							{ label: '运算符 +', value: '' },
							{ label: true, value: '1. 如果是数字类型的变量相加，那么得到的结果就是一个数字类型的结果' },
							{ label: true, value: '2. 如果有字符串参与相加运算，那么最后的结果就是一个字符串（加号起到的是一个连接的作用）' },
							{ label: '运算符 -', value: '' },
							{ label: true, value: '1. 如果是数字类型的变量相减，那么得到的结果就是一个数字类型的结果' },
							{ label: true, value: '2. 如果变量是一个字符串类型的数字进行相减，那么得到的结果也是数字【发生了隐式类型转换】' },
							{ label: true, value: '3. 如果是非数字变量相减，那么得到的结果是 NaN ' },
							{ label: '运算符 * / ', value: '' },
							{ label: true, value: '1. 如果是数字类型的变量相除，那么得到的结果就是一个数字类型的结果' },
							{ label: true, value: '2. 如果除数是0，那么得到的结果是 Infinity（无穷大）,也是数字类型' },
							{ label: '运算符 %', value: '模运算 | 取余运算' },
							{ label: '运算符 () []', value: '() [] 优先级问题' },
							{ label: '=', value: '赋值运算符   将运算符右侧的结果赋值左侧的变量' },
							{ label: true, value: 'a+=b    ===>   a = a+b;' },
							{ label: '比较运算符', value: '' },
							{ label: true, value: '> < >= <= [条件有一个满足即可]' },
							{ label: true, value: '== 只是用来判断变量中的值是否相等，没有判断数据类型' },
							{ label: true, value: '=== 同时要判断数据类型和值是否相等' },
							{ label: true, value: '!= 只用来判断值是否不相等' },
							{ label: true, value: '!== 值和数据类型同时判断' },
							{ label: '逻辑运算符 &&', value: '&& (且运算) 并且必须同时满足(true) [绝对运算]' },
							{ label: true, value: '1. false  &&  true ---> 结果是 false' },
							{ label: true, value: '2. true && true    ---> 结果是 true' },
							{ label: true, value: '3, false  && false ---> 结果是 false' },
							{ label: '逻辑运算符 ||', value: '|| (或运算)： 或者（条件有一个满足即可） [易满运算]' },
							{ label: true, value: '1.  false || false  ----> 结果是false' },
							{ label: true, value: '2.  false  || true  ----> 结果是true' },
							{ label: true, value: '3.  true  || true   ---> 结果是 true' },
							{ label: true, value: '3. 不推荐使用保留字作为变量名' },
							{ label: true, value: '4. 不推荐使用汉字定义变量名' },
							{ label: true, value: '5. 在定义变量名的时候不能出现空格' },
							{ label: true, value: '3. 不推荐使用保留字作为变量名' },
							{ label: true, value: '4. 不推荐使用汉字定义变量名' },
							{ label: true, value: '5. 在定义变量名的时候不能出现空格' },
						]
					},
					{
						title: '变量(重点)',
						list: [
							'',
							{ label: '定义变量', value: 'var age' },
							{ label: '赋值', value: 'age = 20' },
							{ label: '注意', value: '' },
							{ label: true, value: '1. 字母大小写' },
							{ label: true, value: '2. 如果要输出的信息是一个变量，那么不需要加引号' },
							{ label: true, value: '3. 一个变量一次只能保存一个值，最后一次赋值结果' },
							{ label: true, value: '4. 不推荐使用汉字定义变量名' },
							{ label: true, value: '5. 可以在定义变量的时候给变量赋值  例如 ： var age = 123;' },
							{ label: true, value: '6. 在js中是区分字母大小写的(大写是一个变量,小写是一个变量' }
						]
					}
				],
			},
			methods: {

			}
		})
	</script>
</body>
</html>