<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
        html, body {
            padding: 0;
            margin: 0;
        }
        .box {
            width: 1920px;
            height: 1080px;
            padding-left: 220px;
            padding-top: 100px;
            box-sizing: border-box;
            background-color: #031E4C;
        }
        .detailedCss {
            width: 1700px;
            height: 980px;
            padding: 30px 20px;
            box-sizing: border-box;
        }
        .title {
            color: #fff;
            font-family: PingFang SC;
            font-size: 26px;
            border-left: 6px solid #48C6CE;
            padding-left: 10px;
            margin-bottom: 10px;
        }
        .box-card {
            width: 820px;
            display: inline-block !important;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.1) !important;
        }
        .el-card {
            border: none !important;
        }
        .cardTitle {
            color: #fff;
            font-size: 27px;
            border-bottom: 1px solid #fff;
            padding-bottom: 20px;
        }
        .text {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        .company {
            color: #fff;
            font-size: 18px;
        }
        .detailBtnOne {
            font-size: 16px;
            border-radius: 6px;
            color: #000;
            padding: 5px 8px;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .detailBtnTwo {
            border-radius: 6px;
            color: #fff;
            padding: 5px 8px;
            background-color: none;
            border: 1px solid #ccc;
        }
        .boxOne {
            display: flex;
            justify-content: space-between;
        }
        .boxTwo {
            height: 20px;
            widows: 100%;
        }
        .boxTab {
            margin-top: 20px;
        }
        .topList {
            overflow: hidden;
        }
        .listItemTop {
            color: #fff;
            float: left;
            overflow: hidden;
            width: 60px;
            min-height: 20px;
            white-space: break-all;
            padding: 5px 0;
            box-sizing: border-box;
            font-size: 12px;
            border: 1px solid #999;
            border-bottom: none;
            border-right: none;
            text-align: center;
        }
        .list {
            display: flex;
        }
        .listItem {
            float: left;
            overflow: hidden;
            width: 60px;
            min-height: 20px;
            white-space: break-all;
            /* padding: 5rpx; */
            box-sizing: border-box;
            font-size: 12px;
            border: 1px solid #999;
            border-right: none;
            text-align: center;
        }
        .numTop {
            color: #fff;
            padding: 5px 0;
            box-sizing: border-box;
            font-size: 12px;
            text-align: center;
        }
        .numBottom {
            color: #fff;
            padding: 5px 0;
            box-sizing: border-box;
            white-space: break-all;
            font-size: 12px;
            border-top: 1px solid #999;
            text-align: center;
        }

        .listItem .numBottom:first-child {
          border-top: none;
        }

        .topList .listItemTop:last-child {
          border-right: 1px solid #999;
        }

        .topList .listItem:last-child {
          border-right: 1px solid #999;
        }
        #chartThree {
            margin-top: 20px;
        }
        #chartFour {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="app" class="box" v-cloak>
        <div class="detailedCss">
            <div class="title">详细信息</div>
            <div class="boxOne">
                <el-card class="box-card">
                    <div class="cardTitle">
                        月度上传数量统计
                    </div>
                    <div class="text">
                        <div class="company">单位（个）</div>
                        <div :class="{ detailBtnOne: aa, detailBtnTwo: !aa }" @click="btnClick(true)">显示详细</div>
                    </div>
                    <div v-show="aa" id="chartOne"></div>
                    <div v-show="!aa" class="boxTab">
                      <div class="topList">
                        <div class="listItemTop" style="color: #21355D;">
                          1
                        </div>
                        <div v-for="item in leftTabTitle" :key="item + 'a'" class="listItemTop">
                            <div>
                                {{ item }}
                            </div>
                        </div>
                      </div>
                      <div class="topList">
                        <div class="listItem">
                            <div v-for="(dateItem, indexOne) in leftYearList" :key="indexOne * 100" class="numBottom">
                                {{ dateItem }}
                            </div>
                        </div>
                        <div v-for="(value, index) in leftDataList" :key="index" class="listItem">
                            <div class="numTop">
                                {{ value.value }}
                            </div>
                            <div class="numBottom">
                                {{ value.valueTwo }}
                            </div>
                        </div>
                      </div>
                    </div>
                </el-card>
                <el-card class="box-card" style="display: inline-block;">
                    <div class="cardTitle">
                        月度使用容量统计
                    </div>
                    <div class="text">
                        <div class="company">单位（个）</div>
                        <div :class="{ detailBtnOne: bb, detailBtnTwo: !bb }" @click="btnClick(false)">显示详细</div>
                    </div>
                    <div v-show="bb" id="chartTwo"></div>
                    <div v-show="!bb" class="boxTab">
                      <div class="topList">
                        <div class="listItemTop" style="color: #21355D;">
                          1
                        </div>
                        <div v-for="item in tabTitle" :key="item + 'a'" class="listItemTop">
                            <div>
                                {{ item }}
                            </div>
                        </div>
                      </div>
                      <div class="topList">
                        <div class="listItem">
                            <div v-for="(dateItem, indexOne) in yearList" :key="indexOne * 100" class="numBottom">
                                {{ dateItem }}
                            </div>
                        </div>
                        <div v-for="(value, index) in dataList" :key="index" class="listItem">
                            <div class="numTop">
                                {{ value.value }}
                            </div>
                            <div class="numBottom">
                                {{ value.valueTwo }}
                            </div>
                        </div>
                      </div>
                    </div>
                </el-card>
            </div>
            <div class="boxTwo"></div>
            <div class="boxOne">
                <el-card class="box-card">
                    <div class="cardTitle">
                        年度上传负排行榜
                    </div>
                    <div id="chartThree"></div>
                </el-card>
                <el-card class="box-card">
                    <div class="cardTitle">
                        年度授权排行榜
                    </div>
                    <div id="chartFour"></div>
                </el-card>
            </div>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./axios.js"></script>
    <!-- <script src="http://unpkg.com/@antv/data-set"></script> -->
    <script src="./G2.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./element.css">
    <!-- 引入组件库 -->
    <script src="./element.js"></script>
    <script type="text/javascript">
        let vm = new Vue({
            el: '#app',
            data: {
                aa: true,
                bb: true,
                baseUrl: 'http://27.128.165.194:8081',
                companyId: '6',
                chartOne: null,
                chartTwo: null,
                chartThree: null,
                chartFour: null,
                // 月份
                tabTitle: [],
                // 年份
                yearList: [],
                // 数据
                dataList: [],
                // 月份
                leftTabTitle: [],
                // 年份
                leftYearList: [],
                // 数据
                leftDataList: []
            },
            mounted() {
                this.getMonthUploadData();
                this.getMonthUseData();
                this.getYearUploadData();
                this.getYearEmpowerData();
            },
            methods: {
                getData(num, flag) {
                    num = Number(num);
                    // 判断当前数字是否大于 1024 ，如果大于，就继续除
                    // flag表示除了几次1024，最后的数因该是 num 加 1024的flag次方
                    if (num > 1024 && flag < 3) {
                      flag++
                      return this.getData((num / 1024).toFixed(2), flag);
                    } else {
                      return {
                        name: flag === 3 ? 'G' : flag === 2 ? 'M' : flag === 1 ? 'KB' : 'B',
                        flag,
                        value: num
                      }
                    }
                  },
                btnClick(flag) {
                    if (flag) {
                        this.aa = !this.aa
                    } else {
                        this.bb = !this.bb
                    }
                },
                async getMonthUploadData() {
                    // let response = await axios({
                    //     url: this.baseUrl + "/index.php?mod=dingding_api&op=count&operation=month_upload_count",
                    //     method: 'POST',
                    //     data: {
                    //       orgid: this.companyId
                    //     },
                    //     dataType: 'json'
                    // });
                    let detail = {
                            2020: [
                                {date: 1, value: 0, type: "2020"},
                                {date: 2, value: 0, type: "2020"},
                                {date: 3, value: 0, type: "2020"},
                                {date: 4, value: 0, type: "2020"},
                                {date: 5, value: 0, type: "2020"},
                                {date: 6, value: 0, type: "2020"},
                                {date: 7, value: 0, type: "2020"},
                                {date: 8, value: 0, type: "2020"},
                                {date: 9, value: 0, type: "2020"},
                                {date: 10, value: 0, type: "2020"},
                                {date: 11, value: 0, type: "2020"},
                                {date: 12, value: 0, type: "2020"}
                            ],
                            2021: [
                                {date: 1, value: 0, type: "2021"},
                                {date: 2, value: 0, type: "2021"},
                                {date: 3, value: 0, type: "2021"},
                                {date: 4, value: 0, type: "2021"},
                                {date: 5, value: 0, type: "2021"},
                                {date: 6, value: 0, type: "2021"},
                                {date: 7, value: 460565, type: "2021"},
                                {date: 8, value: 0, type: "2021"},
                                {date: 9, value: 0, type: "2021"},
                                {date: 10, value: 0, type: "2021"},
                                {date: 11, value: 0, type: "2021"},
                                {date: 12, value: 0, type: "2021"}
                            ]
                        },
                    // let { data: { code, data: dataValue } } = response;
                    // if (code == 200) {
                    //     // 渲染的数据
                    //     let panels = that.data.panels;
                            // 折线图数据
                            list = [],
                            ary = [],
                            // 保存每次字节转换的结果
                            obj = {},
                            // 保存字节转换的次数
                            turnList = [];
                        // 获取年份
                        this.leftYearList = Object.keys(detail);
                        this.leftTabTitle = [];
                        this.data = [];
                        // 获取详情数据
                        this.leftYearList.forEach((year, yearIndex) => {
                            detail[year].forEach((yearItem, itemIndex) => {
                                if (yearIndex === 0) {
                                    // 得到渲染的月份
                                    this.leftTabTitle.push(yearItem.date);
                                }
                                // 判断是否已存在此月份
                                if (ary.includes(yearItem.date)) {
                                    // 存在的就直接取值
                                    this.leftDataList[itemIndex].valueTwo = yearItem.value;
                                } else {
                                    // 不存在的添加
                                    this.leftDataList.push({
                                        value: yearItem.value,
                                        valueTwo: null
                                    })
                                    ary.push(yearItem.date)
                                }
                            })
                        })

                        ary = [];

                        let maxNumber = 500;
                        // 折线图数据
                        this.leftYearList.forEach((item, index) => {
                            detail[item].forEach((edit, editIndex) => {
                                if (maxNumber < edit.value) {
                                    if (edit.value > 500) {
                                        maxNumber = edit.value * 2
                                    } else {
                                        maxNumber = edit.value * 2
                                    }
                                }
                                // 判断是否已存在此月份
                                if (ary.includes(edit.date)) {
                                    // 存在的就直接取值
                                    list[editIndex].valueOne = edit.value;
                                } else {
                                    // 不存在的添加
                                    list.push({
                                        date: edit.date.toString(),
                                        value: edit.value,
                                        valueOne: null
                                    })
                                    ary.push(edit.date)
                                }
                            })
                        })
                    // }
                    if (this.chartOne) {
                        this.chartOne.changeData(list);
                    } else {
                        this.monthUploadChartHandle(list, maxNumber)
                    }
                },
                async getMonthUseData() {
                    // let response = await axios({
                    //     url: this.baseUrl + "/index.php?mod=dingding_api&op=count&operation=month_upload_size_count",
                    //     method: 'POST',
                    //     data: {
                    //       orgid: this.companyId
                    //     },
                    //     dataType: 'json'
                    // });
                    // let { data: { code, data: dataValue } } = response
                    let detail = {
                            2020: [
                                {date: 1, value: 0, type: "2020"},
                                {date: 2, value: 0, type: "2020"},
                                {date: 3, value: 0, type: "2020"},
                                {date: 4, value: 0, type: "2020"},
                                {date: 5, value: 0, type: "2020"},
                                {date: 6, value: 0, type: "2020"},
                                {date: 7, value: 0, type: "2020"},
                                {date: 8, value: 0, type: "2020"},
                                {date: 9, value: 0, type: "2020"},
                                {date: 10, value: 0, type: "2020"},
                                {date: 11, value: 0, type: "2020"},
                                {date: 12, value: 0, type: "2020"}
                            ],
                            2021: [
                                {date: 1, value: 0, type: "2021"},
                                {date: 2, value: 0, type: "2021"},
                                {date: 3, value: 0, type: "2021"},
                                {date: 4, value: 0, type: "2021"},
                                {date: 5, value: 0, type: "2021"},
                                {date: 6, value: 0, type: "2021"},
                                {date: 7, value: 460565, type: "2021"},
                                {date: 8, value: 0, type: "2021"},
                                {date: 9, value: 0, type: "2021"},
                                {date: 10, value: 0, type: "2021"},
                                {date: 11, value: 0, type: "2021"},
                                {date: 12, value: 0, type: "2021"}
                            ]
                        },
                    // if (code === 200) {
                          
                          // 获取详情
                        // let detail = dataValue.detail,
                            // 折线图数据
                            list = [],
                            ary = [],
                            // 保存每次字节转换的结果
                            obj = {},
                            // 保存字节转换的次数
                            turnList = [];
                        // 获取年份
                        this.yearList = Object.keys(detail);
                        this.tabTitle = [];
                        this.data = [];
                        // 获取详情数据
                        this.yearList.forEach((year, yearIndex) => {
                            detail[year].forEach((yearItem, itemIndex) => {
                                if (yearIndex === 0) {
                                    // 得到渲染的月份
                                    this.tabTitle.push(yearItem.date);
                                }
                                // 转化每一个值
                                obj = this.getData(yearItem.value, 0);
                                // 保存字节转换的次数
                                turnList.push(obj.flag);
                                // 判断是否已存在此月份
                                if (ary.includes(yearItem.date)) {
                                    // 存在的就直接取值
                                    this.dataList[itemIndex].valueTwo = obj.value + obj.name;
                                } else {
                                    // 不存在的添加
                                    this.dataList.push({
                                        value: obj.value + obj.name,
                                        valueTwo: null
                                    })
                                    ary.push(yearItem.date)
                                }
                            })
                        })
                        ary = [];
                        // 判断最大单位
                        let maxNum = Math.max.apply(null, turnList);
                        turnList = [];
                        let maxNumber = 500;
                        
                        this.yearList.forEach(item => {
                            detail[item].forEach((edit, editIndex) => {
                                // 转化每一个值
                                obj = this.getData(edit.value, 0);
                                if (maxNumber < obj.value) {
                                    if (obj.value > 500) {
                                        maxNumber = obj.value * 10
                                    } else {
                                        maxNumber = obj.value * 2
                                    }
                                    
                                }
                                // 保存字节转换的次数
                                turnList.push(obj.flag);
                                // 判断是否已存在此月份
                                if (ary.includes(edit.date)) {
                                    // 存在的就直接取值
                                    list[editIndex].valueOne = edit.value ? Number((edit.value / Math.pow(1024, maxNum)).toFixed(2)): 0;
                                } else {
                                    // 不存在的添加
                                    list.push({
                                        date: edit.date.toString(),
                                        value: edit.value ? Number((edit.value / Math.pow(1024, maxNum)).toFixed(2)) : 0,
                                        valueOne: null
                                    })
                                    ary.push(edit.date)
                                }
                            })
                        })
                    // }
                    if (this.chartTwo) {
                        this.chartTwo.changeData(list);
                    } else {
                        this.monthUseChartHandle(list, maxNumber)
                    }
                },
                async getYearUploadData() {
                    // let response = await axios({
                    //     url: this.baseUrl + "/index.php?mod=dingding_api&op=count&operation=org_year_upload_count",
                    //     method: 'POST',
                    //     data: {
                    //       orgid: this.companyId
                    //     },
                    //     dataType: 'json'
                    // });
                    // let { data: { code, data: dataValue } } = response
                    // if (code == 200) {
                        // if (this.chartThree) {
                        //     this.chartThree.changeData(list);
                        // } else {
                            this.yearUploadChartHandle()
                        // }
                    // }
                },
                async getYearEmpowerData() {
                    // let response = await axios({
                    //     url: this.baseUrl + "/index.php?mod=dingding_api&op=count&operation=org_year_apply_count",
                    //     method: 'POST',
                    //     data: {
                    //       orgid: this.companyId
                    //     },
                    //     dataType: 'json'
                    // });
                    // let { data: { code, data: dataValue } } = response
                    // if (code == 200) {
                        // if (this.chartFour) {
                        //     this.chartFour.changeData(list);
                        // } else {
                            this.yearEmpowerChartHandle()
                        // }
                    // }
                },
                monthUploadChartHandle(data, maxNumber) {
                    this.chartOne = new G2.Chart({
                        container: 'chartOne',
                        autoFit: true,
                        height: 304,
                        padding: [30, 0, 40, 60]
                    });

                    this.chartOne.data(data);
                    this.chartOne.scale({
                        value: {
                            min: 0,
                            max: maxNumber
                        },
                        valueOne: {
                            min: 0,
                            max: maxNumber
                        }
                    });

                    this.chartOne.axis('valueOne', false);

                    this.chartOne.legend({
                        custom: true,
                        position: 'top',
                        items: [{ name: this.leftYearList[0], value: 'value', marker: { symbol: 'line', style: { stroke: '#1890ff', lineWidth: 6 } } },
                            { name: this.leftYearList[1], value: 'valueOne', marker: { symbol: 'line', style: { stroke: '#2fc25b', lineWidth: 6 } } },
                        ]
                    });

                    this.chartOne.line().position('date*value').color('#1890ff');
                    this.chartOne.line().position('date*valueOne').color('#2fc25b');

                    this.chartOne.removeInteraction('legend-filter'); // 自定义图例，移除默认的分类图例筛选交互
                    this.chartOne.render();
                },
                monthUseChartHandle(data, maxNumber) {
                    this.chartTwo = new G2.Chart({
                        container: 'chartTwo',
                        autoFit: true,
                        height: 304,
                        padding: [30, 0, 40, 60]
                    });

                    this.chartTwo.data(data);
                    this.chartTwo.scale({
                        value: {
                            min: 0,
                            max: maxNumber
                        },
                        valueOne: {
                            min: 0,
                            max: maxNumber
                        }
                    });

                    this.chartTwo.axis('valueOne', false);

                    this.chartTwo.legend({
                        custom: true,
                        position: 'top',
                        items: [{ name: this.yearList[0], value: 'value', marker: { symbol: 'line', style: { stroke: '#1890ff', lineWidth: 6 } } },
                            { name: this.yearList[1], value: 'valueOne', marker: { symbol: 'line', style: { stroke: '#2fc25b', lineWidth: 6 } } },
                        ]
                    });

                    this.chartTwo.line().position('date*value').color('#1890ff');
                    this.chartTwo.line().position('date*valueOne').color('#2fc25b');

                    this.chartTwo.removeInteraction('legend-filter'); // 自定义图例，移除默认的分类图例筛选交互
                    this.chartTwo.render();
                },
                yearUploadChartHandle(data) {
                    data = [
                      { type: '未知', value: 654, percent: 0.02 },
                      { type: '17 岁以下', value: 654, percent: 0.02 },
                      { type: '18-24 岁', value: 4400, percent: 0.2 },
                      { type: '25-29 岁', value: 5300, percent: 0.24 },
                      { type: '30-39 岁', value: 6200, percent: 0.28 },
                      { type: '40-49 岁', value: 3300, percent: 0.14 },
                      { type: '50 岁以上', value: 1500, percent: 0.06 },
                    ];
                    const chart = new G2.Chart({
                        container: 'chartThree',
                        autoFit: true,
                        height: 324,
                        padding: [70, 20, 20, 20],
                    });
                    chart.data(data);
                    chart.scale('value', {
                        alias: '销售额(万)',
                    });

                    chart.axis('type', {
                        tickLine: {
                            alignTick: false,
                        },
                    });
                    chart.axis('value', false);

                    chart.tooltip({
                        showMarkers: false,
                    });
                    chart.legend({
                        custom: true,
                        position: 'top',
                        items: [{ name: '上传文件个数', value: 'value', marker: { symbol: 'line', style: { stroke: '#1890ff', lineWidth: 6 } }
                        }]
                    });
                    chart.interval().position('type*value').color('#1890ff').style({ radius: [20, 20, 0, 0] });
                    chart.interaction('element-active');

                    // 添加文本标注
                    data.forEach((item) => {
                        chart.annotation().text({
                            position: [item.type, item.value],
                            content: item.value,
                            style: {
                                textAlign: 'center',
                            },
                            offsetY: -30,
                        });
                    });
                    chart.render();
                },
                yearEmpowerChartHandle(data) {
                    data = [
                      { type: '未知', value: 654, percent: 0.02 },
                      { type: '17 岁以下', value: 654, percent: 0.02 },
                      { type: '18-24 岁', value: 4400, percent: 0.2 },
                      { type: '25-29 岁', value: 5300, percent: 0.24 },
                      { type: '30-39 岁', value: 6200, percent: 0.28 },
                      { type: '40-49 岁', value: 3300, percent: 0.14 },
                      { type: '50 岁以上', value: 1500, percent: 0.06 },
                    ];
                    const chart = new G2.Chart({
                        container: 'chartFour',
                        autoFit: true,
                        height: 324,
                        padding: [70, 20, 20, 20],
                    });
                    chart.data(data);
                    chart.scale('value', {
                        alias: '销售额(万)',
                    });

                    chart.axis('type', {
                        tickLine: {
                            alignTick: false,
                        },
                    });
                    chart.axis('value', false);

                    chart.tooltip({
                        showMarkers: false,
                    });
                    chart.legend({
                        custom: true,
                        position: 'top',
                        items: [{ name: '授权次数', value: 'value', marker: { symbol: 'line', style: { stroke: '#1890ff', lineWidth: 6 } }
                        }]
                    });
                    chart.interval().position('type*value').color('#1890ff').style({ radius: [20, 20, 0, 0] });
                    chart.interaction('element-active');

                    // 添加文本标注
                    data.forEach((item) => {
                        chart.annotation().text({
                            position: [item.type, item.value],
                            content: item.value,
                            style: {
                                textAlign: 'center',
                            },
                            offsetY: -12,
                        });
                    });
                    chart.render();
                }
            }
        })
    </script>
</body>
</html>